{% extends 'base.html.twig' %}



{% block body %}
<!-- Page Header-->
        <section class="page-title page-title-bg fixed-bg overlay dark-5 padding-top-160 padding-bottom-80">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="white-text">Create a new Job Offer</h2>
                        <span class="white-text"></span>
                        
                    </div>
                </div>
            </div>
        </section>


<div class="container">
    
    {{ include('job_offer/_form.html.twig') }}
</div>

    <a href="{{ path('job_offer_index') }}">back to list</a>
{% endblock %}
