{% extends 'base.html.twig' %}



{% block body %}
  <!-- Page Header-->
        <section class="page-title page-title-bg fixed-bg overlay dark-5 padding-top-160 padding-bottom-80">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="white-text">Dashboard Admin</h2>
                        <span class="white-text"></span>

                    </div>
                </div>
            </div>
        </section>

<div class="container">
    <p>Confirm you want apply this offer</p>

</div>
   

    <a href="{{ path('candidature_index') }}">back to list</a>
{% endblock %}
